html, body {
  margin: 0;
  padding: 0;
}

*{
  font-family:Arial;
  font-size:14px;
}

.clr {clear: both;}

input[type=text], input[type=input], input[type=password], textarea {
  font-family:Arial;
  font-size:14px;
  border:1px solid gray;
  width:100%;
}

textarea {
  padding: 4px;
}

input.readonly,
select.readonly,
textarea.readonly {
  border: none;
  background: white;
  color: black;
}

a {
  color: blue;
}

a img {
  border: 0;
}


.input_has_error{
  border: 3px solid red !important;
}

div.loading {
  margin: 10px 0;
}

.tooltip {
  background: white;
  padding: 10px;
  border: 1px solid gray;
}

.tab_hidden {
  position: absolute;
  visibility: hidden;
  top: -20000px;
}

.tab_visible {
  position: static;
  visibility: visible;
  top: auto;
}

div.paging {
  display: inline;
}

form h2 {
  margin-top: 15px;
}

.clear {
  clear: both;
}

img.toggle_ipasais {
  cursor: pointer;
}

input[type=checkbox]{ width:20px; }
input[type=radio]{ width:20px; }
input[type=file]{ width:230px; }

.chbox{ margin:5px; float:left; background-color:#CACACA; cursor:pointer; }
.chbox label{ cursor:pointer; }

.info{ font-size:12px; color:gray; }

.layout1,
.layout2 {
  display: inline-table;
  margin-right: 30px;
  margin-bottom: 30px;
}

.layout2 {
  margin-top: 20px ! important;
}

.saist_pard_ico {
  display: inline-block;
  width: 8px;
  height: 9px;
  text-align: center;
  color: white;
  background: #CE8600;
  font-size: 10px;
  line-height: 7px;
  cursor: default;
  vertical-align: middle;
}

.bez_pvn_rek_ico {
  display: inline-block;
  width: 12px;
  height: 12px;
  text-align: center;
  color: white;
  background: red;
  font-size: 10px;
  line-height: 9px;
  cursor: default;
  vertical-align: middle;
	font-weight: bold;
}

.warn_ico_dynwidth {
  display: inline-block;
  height: 12px;
  padding: 0 2px 0 2px;
  text-align: center;
  color: white;
  background: red;
  font-size: 10px;
  line-height: 9px;
  cursor: default;
  vertical-align: middle;
	font-weight: bold;
}

.warn_ico_dynwidth a {
  font-weight: normal;
  color: white;
  font-size: 10px;
}


.top-quick-search {
  float: left;
  margin: 0;
  width: 300px;
  text-align: left;
  height: 1.4em;
}

.top-quick-search input {
  width: 150px;
}

.main-menu-wrap {
  background: #9D9D9D url(menubg.png) repeat-x top left;
  min-height: 16px;
  color: white;
  padding: 5px 10px 5px 7px;
  margin-bottom: 12px;
  font-weight: bold;
  border-bottom: 1px solid #939393;
  line-height: 22px;
}

.main-menu-wrap a {
  color: white;
}

.main-menu a {
  text-decoration: none;
  padding: 3px 5px;
  margin: auto 2px;
  white-space: nowrap;
  font-size: 13px;
  color: white;
}

.main-menu a:hover {
  background: white;
  color: #444444;
}

.main-menu a.active {
  background: white;
  color: #444444;
}

.sub-menu {
  margin-bottom: 10px;
  height: 30px;
  line-height: 30px;
}

  .sub-menu span {
    background: #D0D0D0;
    padding: 6px;
  }

  .sub-menu a {
    padding: 1px 5px;
    color: black;
    text-decoration: none;
    font-size: 13px;
  }

  .sub-menu a:hover {
    background: white;
  }

  .sub-menu a.active {
    background: white;
    font-weight: bold;
  }

.content-wrap {
  padding: 0 8px;
}

ul.errors {
  color: red;
  padding-left: 0;
}

ul.errors li {
  margin-left: 2em;
}

table.data {
  margin:10px 0pt 15px;
  font-size: 8pt;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

table.data tr.groups th {
  text-align: center;
  font-size: 13px;
  padding-top: 10px;
  padding-bottom: 10px;
}

table.data thead tr th, table.data tfoot tr th {
  background-color: #E9E9E9;
  border-top: 1px solid #FFF;
  border-left: 1px solid #FFF;
  border-right: 1px solid #FFF;
  font-size: 8pt;
  padding: 4px;
}

table.data thead tr .header {
  /*background-image: url(bg.gif);*/
  background-repeat: no-repeat;
  background-position: center right;
  cursor: pointer;
}

table.data thead tr.last th {
  white-space: nowrap;
}


table.data thead tr .headerSortUp {
  background-image: url(asc.gif);
}

table.data thead tr .headerSortDown {
  background-image: url(desc.gif);
}

table.data thead tr .headerSortDown, table.data thead tr .headerSortUp {
  background-color: #DEDEDE;
  padding-right: 20px;
}

table.data thead tr.header th {
  text-align: center;
  position: relative;
}

table.data tbody td {
  color: #262626;
  background-color: #F2F2F2;
  padding: 6px 4px;
}

table.data tbody tr.odd td {
  background-color: #FFF;
}

table.data tbody.main td {
  border-right: 1px solid silver;
  border-top: 1px solid silver;
}

table.data tbody.main tr:last-child td {
  border-bottom: 1px solid silver;
}

table.data tbody.main tr:hover td {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

table.data tbody.main td.last {
  border-right: none;
}

table.data a {
  text-decoration: none;
}

table.data a:hover {
  text-decoration: underline;
}

table.data td.corner1 {
  background-image: url(cellcorner1.gif);
  background-position: top right;
  background-repeat: no-repeat;
}

table.data th.c,
table.data td.c {
  text-align: center;
}

table.data th.l,
table.data td.l {
  text-align: left;
}

table.data th.r,
table.data td.r {
  text-align: right;
}

tr.filter th {
  white-space: nowrap;
  font-weight: normal;
  text-align: left;
}

tr.filter th input {
  border: 1px solid #BBBBBB;
  max-width: 95px;
}

tr.filter th a {
  text-decoration: none !important;
}

th.hidden_col,
td.hidden_col {
  width: 0 !important;
  padding: 4px !important;
  /*border: none !important;*/
}

th.header a.hide {
  font-size: 14px;
  color: white;
  position: absolute;
  font-family: "Courier New", Courier, monospace;
  font-weight: normal;
  cursor: pointer;
  line-height: 8px;
  padding: 2px;
  display: none;
  background: #0BA7FB;
  height: 10px;
  width: 10px;
  text-align: center;
  top:0;
  right:0;
}

  th.header a.hide:hover {
    text-decoration: none;
    background: #0385CB;
  }

div.file_block {
  display: inline-block;
  vertical-align: top;
  background-color: #dff8f2;
  width:400px;
  text-align:left;
  padding: 3px 18px 15px 18px;
  margin: 20px 5px 15px 5px;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
}

  div.file_block h2 {
    text-align: center;
    margin: 5px;
  }

  div.file_block ul {
    margin: 15px 5px 0 5px;
  }

  div.file_block span.filesize {
    color: gray;
    font-size: 0.8em;
  }

  div.file_block a.download_link {
    text-decoration: none;
  }

  div.file_block a.download_link:hover {
    text-decoration: underline;
  }

table#atgadinajumu_tabula td {
  padding: 2px 5px;
}

  table#atgadinajumu_tabula span.atg_auto {
    color: gray;
  }

  table#atgadinajumu_tabula tr.active {
    background-color: #EDFBC6;
  }

  table#atgadinajumu_tabula tr.no_term {
    background-color: #FBF8C6;
  }

  table#atgadinajumu_tabula tr.done {
    background-color: #87D97F;
  }

    table#atgadinajumu_tabula tr.done * {
      color: gray ! important;
    }

  table#atgadinajumu_tabula tr.canceled {
    background-color: #D4D4D4;
  }

    table#atgadinajumu_tabula tr.canceled * {
      color: gray ! important;
    }

  table#atgadinajumu_tabula td.status {
    text-align: center;
    line-height: 1.5em;
  }

    table#atgadinajumu_tabula td.status a {
      text-decoration: none;
    }

    table#atgadinajumu_tabula td.status a:hover {
      text-decoration: underline;
    }

    table#atgadinajumu_tabula thead tr th {
      background-color: #E9E9E9;
      font-size: 8pt;
      padding: 4px;
    }

    table#atgadinajumu_tabula thead tr .header {
      /*background-image: url(bg.gif);*/
      background-repeat: no-repeat;
      background-position: center right;
      cursor: pointer;
    }

    table#atgadinajumu_tabula thead tr.last th {
      white-space: nowrap;
    }


    table#atgadinajumu_tabula thead tr .headerSortUp {
      background-image: url(asc.gif);
    }

    table#atgadinajumu_tabula thead tr .headerSortDown {
      background-image: url(desc.gif);
    }

    table#atgadinajumu_tabula thead tr .headerSortDown,
    table#atgadinajumu_tabula thead tr .headerSortUp {
      background-color: #DEDEDE;
      padding-right: 20px;
    }

div.comments_block {
  display: inline-block;
  vertical-align: top;
  background-color: #D9FF9F;
  width:400px;
  text-align:left;
  padding: 3px 8px 5px 8px;
  margin: 20px 5px 15px 5px;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
}

  div.comments_block h2 {
    text-align: center;
    margin: 5px;
  }

  div.comments_block ul {
    padding: 0;
    list-style-type: none;
    margin: 0;
  }

  div.comments_block li {
    margin-bottom: 8px;
    margin-right: 0;
    padding: 0;
  }

  div.comments_block div.text {
    margin: 0 5px 5px 5px;
    background: white;
    padding: 6px 7px;
    font-size: 0.85em;
  }

  div.comments_block div.meta {
    font-size: 0.8em;
    color: gray;
    margin: 5px 5px 1px 5px;
    position: relative;
    padding-left: 2px;
    padding-right: 30px;
  }

  div.comments_block span.n {
    margin-right: 3px;
  }

  div.comments_block div.meta span {
    font-size: 1em;
  }

  div.comments_block div.meta strong {
    font-size: 1.1em;
    color: #383838;
  }

  div.comments_block div.meta span.time {
    color: gray;
    font-size: 0.85em;
    margin-left: 6px;
  }

  div.comments_block div.meta a.del_link {
    position: absolute;
    right: 0;
  }


  table.comment_form {
    width: 90%;
    margin: 0 0 5px 10px;
  }

table#forums_skatit td {
  padding: 10px;
}

  table#forums_skatit tr.start td {
    background: #C7DCFC;
  }

table#forums tr.new td {
  background: #E8FFC4;
}


form#liguma_check_form {
  background-color: #E3E3E3;
  width:590px;
  text-align:left;
  padding: 15px 18px 15px 18px;
  margin: 20px 0 15px 0;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
}

  form#liguma_check_form input {
    width: 20%;
  }

  form#liguma_check_form input.nosaukums {
    width: 62%;
  }

table#ligums_check_table {
  background: white;
  margin-top: 10px;
  border-collapse: collapse;
  width: 100%;
}

  table#ligums_check_table th,
  table#ligums_check_table td {
    text-align: left;
    border: 1px solid gray;
    padding: 4px;
  }

table#darbinieku_norekini thead tr th {
  background-color: #E9E9E9;
  font-size: 8pt;
  padding: 4px;
}

  table#darbinieku_norekini thead tr .header {
    /*background-image: url(bg.gif);*/
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
  }

  table#darbinieku_norekini thead tr.last th {
    white-space: nowrap;
  }


  table#darbinieku_norekini thead tr .headerSortUp {
    background-image: url(asc.gif);
  }

  table#darbinieku_norekini thead tr .headerSortDown {
    background-image: url(desc.gif);
  }

  table#darbinieku_norekini thead tr .headerSortDown,
  table#darbinieku_norekini thead tr .headerSortUp {
    background-color: #DEDEDE;
    padding-right: 20px;
  }

form.liggenpdfform {
  text-align: center;
}

  form.liggenpdfform .gala_block {
    display: none;
  }

  form.liggenpdfform .gala_block .subm {
    margin-top: 5px;
    width: auto;
  }


  form.liggenpdfform input {
    width: 8em;
  }

  form.liggenpdfform .i {
    margin-bottom: 5px;
  }

div.pdflinks {
  display: none;
}

  div.pdflinks .i {
    margin: 10px 0;
  }

  div.pdflinks .i * {
    vertical-align: middle;
  }

table#rekinu_tabula th {
  white-space: normal;
}

  table#rekinu_tabula input[type="checkbox"] {
    width: auto;
    margin: 0 2px 0 0;
    vertical-align: middle;
  }

/* table groups header backgrouns */
.bgc-sta { background-color: #C7CCDA !important; }
.bgc-lig { background-color: #D9EAFE !important; }
.bgc-pak { background-color: #ECC6CE !important; }
.bgc-rek { background-color: #D5C9E7 !important; }
.bgc-pro { background-color: #CBDCDC !important; }
.bgc-pie { background-color: #C4FFE8 !important; }
.bgc-bil { background-color: #FFCEEC !important; }
.bgc-cta { background-color: #FFEEBB !important; }
.bgc-prem { background-color: #D5C9E7!important; }

/* table groups cell backgrouns */
table.data tbody.main .bgc-sta2, .bgc-sta2 { background-color: #E2E5EF; }
table.data tbody.main .bgc-lig2, .bgc-lig2 { background-color: #E8F4FF; }
table.data tbody.main .bgc-pak2, .bgc-pak2 { background-color: #F6DDE3; }
table.data tbody.main .bgc-rek2, .bgc-rek2 { background-color: #F4E7FB; }
table.data tbody.main .bgc-pro2, .bgc-pro2 { background-color: #DAE7E7; }
table.data tbody.main .bgc-pie2, .bgc-pie2 { background-color: #DDFFEF; }
table.data tbody.main .bgc-bil2, .bgc-bil2 { background-color: #FFE6F4; }
table.data tbody.main .bgc-cta2, .bgc-cta2 { background-color: #FFF8DF; }
table.data tbody.main .bgc-prem2, .bgc-prem2 { background-color: #F4E7FB; }

/* Statuss colors */

.apm_statuss_2, .apm_statuss_2 a { background-color: #60D82A !important;}
.apm_statuss_3, .apm_statuss_3 a { background-color: #F00023 !important; color: white !important; }
.apm_statuss_5, .apm_statuss_5 a { background-color: #FFFF00 !important; }
.apm_statuss_6, .apm_statuss_6 a { background-color: #D0D0D0 !important; }
.apm_statuss_7, .apm_statuss_7 a { background-color: #8CFFFF !important; }

.norek_statuss_1, .norek_statuss_1 a  { color: #262626 !important; }
.norek_statuss_2, .norek_statuss_2 a { background-color: #60D82A !important; color: #262626 !important; }
.norek_statuss_3, .norek_statuss_3 a { background-color: #FFFF00 !important; color: #262626 !important; }
.norek_statuss_4, .norek_statuss_4 a { background-color: #F00023 !important; color: white !important; }
.norek_statuss_5, .norek_statuss_5 a { background-color: #D0D0D0 !important; color: #262626 !important; }
.norek_statuss_6, .norek_statuss_6 a { background-color: #8CFFFF !important; color: #262626 !important; }

.lig_statuss_2, .lig_statuss_2 a { background-color: #60D82A !important; color: #262626 !important; }
.lig_statuss_3, .lig_statuss_3 a { background-color: #60D82A !important; color: #262626 !important; }
.lig_statuss_4, .lig_statuss_4 a { background-color: #F00023 !important; color: white !important;  }
.lig_statuss_5, .lig_statuss_5 a { background-color: #D0D0D0 !important; color: #262626 !important; }
.lig_statuss_6, .lig_statuss_6 a { background-color: #D0D0D0 !important; color: #262626 !important; }
.lig_statuss_7, .lig_statuss_7 a { background-color: #D0D0D0 !important; color: #262626 !important; }

a.lig_beigu_statuss_active,
span.lig_beigu_statuss_active {
  color: red !important;
}

.lig_beigu_statuss_active span { font-weight: bold !important; }

.lig_statuss_6 span.stat_name {
  margin-left: 15px;
}

.lig_statuss_6 a.edit_link {
  float: right;
}

.google_statuss_1, .google_statuss_1 a { color: #262626 !important; }
.google_statuss_2, .google_statuss_2 a { background-color: #FFFF00 !important; color: #262626 !important; }
.google_statuss_3, .google_statuss_3 a { background-color: #60D82A !important; color: #262626 !important; }
.google_statuss_4, .google_statuss_4 a { background-color: #D0D0D0 !important; color: #262626 !important; }

.infomedia_statuss_1 { background-color: #FFFF00 !important; }
.infomedia_statuss_3 { background-color: #FFFF00 !important; }

.sanform_statuss_2 { background-color: #FFFF00 !important; }
.sanform_statuss_3 { background-color: #FFFF00 !important; }

div.beigu_statuss_dialog {
  width: 96%;
}

  div.beigu_statuss_dialog form {
    margin: 0;
  }

  div.beigu_statuss_dialog div.row {
    float: left;
    width: 100%;
    min-height: 6em;
  }

  div.beigu_statuss_dialog div.radio {
    font-weight: bold;
  }

  div.beigu_statuss_dialog div.radio input {
    margin: 0;
  }

  div.beigu_statuss_dialog div.col {
    float: left;
    width: 25%;
  }

/* Action panel */

div#act_panel {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #E8E8E8;
  border-top: 1px solid #B9B9B9;
  text-align: center;
  padding: 5px;
}

  div#act_panel .align_left {
    position: absolute;
    top: 5px;
    left: 0;
  }

  div#act_panel .align_right {
    position: absolute;
    top: 5px;
    right: 0;
  }

  div#act_panel input,
  div#act_panel button {
    width: auto;
    margin: 0 5px 0 5px;
    padding: 1px 8px;
  }

  div#act_panel input.submit, div#act_panel input.confirm {
    font-weight: bold;
  }

table.data_form {
  border-collapse: collapse;
  margin-top: 20px;
}

  table.data_form td {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
  }

  table.data_form .label {
    text-align: right;
    font-weight: bold;
    padding-right: 20px;
    vertical-align: top;
  }

  table.data_form .sublabel {
    width: 20%;
    color: gray;
    font-size: 11px;
    float: left;
    line-height: 20px;
  }

  table.data_form td.sep {
    height: 14px;
    vertical-align: top;
    font-size: 1px;
    padding: 0;
    line-height: 1px;
  }

  table.data_form td.sep div {
    border-bottom: 1px solid black;
    height: 7px;
    font-size: 1px;
  }

  table.data_form td.has_sublabels {
    padding-top: 3px;
  }

  table.data_form td.has_sublabels input {
    width: 80%;
    margin-bottom: 2px;
  }

table.lig_pakalpojumi {
  border-collapse: collapse;
  margin: 20px 0;
}

  table.lig_pakalpojumi * {
    font-size: 12px;
  }

  table.lig_pakalpojumi th {
    background: #D2D2D2;
    padding: 4px 2px;
  }

  table.lig_pakalpojumi th,
  table.lig_pakalpojumi td {
    border: 1px solid #787878
  }

  table.lig_pakalpojumi td {
    padding: 4px;
  }

  table.lig_pakalpojumi td.t {
    text-align: center;
    vertical-align: top;
  }

  table.lig_pakalpojumi div.row {
    white-space: nowrap;
    height: 2.2em;
  }

  table.lig_pakalpojumi div.row a {
    vertical-align: middle;
  }

table#ceturksnu_statistika {
  min-width: 800px;
  border: 2px solid #919191;
}

  table#ceturksnu_statistika thead th {
    border: 1px solid #B0B0B0;
    padding: 4px 2px;
    vertical-align: bottom;
    background-color: white;
  }

  table#ceturksnu_statistika thead tr.subgroups th {
    font-weight: normal;
    width: 50px;
  }

  table#ceturksnu_statistika tbody td {
    background-color: white;
    text-align: right;
    font-size: 0.8em;
    border: 1px solid #B0B0B0;
    padding: 5px 4px 3px 4px;
  }

  table#ceturksnu_statistika tbody td a {
    font-size: 1em;
    color: #262626;
    padding: 2px 7px;
  }

  table#ceturksnu_statistika tbody td.c {
    text-align: center;
  }

  table#ceturksnu_statistika tbody tr.top td {
    font-weight: bold;
    border-top: 2px solid #919191;
  }

  table#ceturksnu_statistika tbody tr.top td.label {
    text-align: center;
    font-weight: normal;
  }

  table#ceturksnu_statistika tbody tr.top td.label a {
    color: blue;
  }

  table#ceturksnu_statistika tbody tr.top_total td {
  }

  table#ceturksnu_statistika .b-r {
    border-right: 2px solid #919191;
  }

  table#ceturksnu_statistika tbody tr.month_row td.label {
    background-color: #F2F2F2;
  }

  table#ceturksnu_statistika tbody tr.month_row td {
    background-color: #F2F2F2;
  }

  table#ceturksnu_statistika tbody tr.pardeveja_row td.label {
    background-color: #FDE06F;
  }

  table#ceturksnu_statistika tbody .month_row  td.color1 { background-color: #F2F2F2; }
  table#ceturksnu_statistika .top td.color1, table#ceturksnu_statistika th.color1 { background-color: #F2F2F2; }

  table#ceturksnu_statistika tbody .month_row  td.color2{ background-color: #E8F4FF; }
  table#ceturksnu_statistika .top td.color2, table#ceturksnu_statistika th.color2 { background-color: #D9EAFE; }

  table#ceturksnu_statistika tbody .month_row  td.color3{ background-color: #FFF8DF; }
  table#ceturksnu_statistika .top td.color3, table#ceturksnu_statistika th.color3 { background-color: #FFEEBB; }

  table#ceturksnu_statistika tbody .month_row  td.color4{ background-color: #D8D8D8; }
  table#ceturksnu_statistika .top td.color4, table#ceturksnu_statistika th.color4 { background-color: #D8D8D8; }

  table#ceturksnu_statistika tbody /*.month_row */.top td.color5{ background-color: #FFF;  }
  table#ceturksnu_statistika .top td.color5, table#ceturksnu_statistika th.color5 {  background-color: #FFF;  }

  table#ceturksnu_statistika td.not_achieved {
    color: red;
    font-weight: bold;
  }

  table#ceturksnu_statistika td.achieved {
    color: green;
    font-weight: bold;
  }

table#plana_izpilde {
  min-width: 600px;
  border: 2px solid #919191;
}

  table#plana_izpilde thead th {
    border: 1px solid #B0B0B0;
    padding: 4px 2px;
    vertical-align: bottom;
    background-color: white;
  }

  #izpilde_container.large table#plana_izpilde thead th {font-size: 1.3em; padding: 8px 8px;}

  table#plana_izpilde thead tr.subgroups th {
    font-weight: normal;
    width: 50px;
  }

  table#plana_izpilde tbody td {
    background-color: white;
    text-align: right;
    font-size: 0.8em;
    border: 1px solid #B0B0B0;
    padding: 5px 4px 3px 4px;
  }

  table#plana_izpilde tbody td.lidzpremijai {
    font-size: 1.3em;
    padding: 0px 4px 0px 4px;
    color: red;
  }

  table#plana_izpilde tbody td.premiumsum {
    font-size: 1.3em;
    padding: 0px 4px 0px 4px;
  }

  #izpilde_container.large table#plana_izpilde tbody td  {font-size: 1.3em; padding: 8px 8px 7px 8px;}

  #izpilde_container.large table#plana_izpilde tbody td.lidzpremijai  {font-size: 1.7em; padding: 0px 8px 0px 8px;}

  #izpilde_container.large table#plana_izpilde tbody td.premiumsum  {font-size: 1.7em; padding: 0px 8px 0px 8px;}

  table#plana_izpilde tbody td a {
    font-size: 1em;
    color: #262626;
    padding: 2px 7px;
  }

  #izpilde_container.large table#plana_izpilde tbody td a  {font-size: 1.1em}

  table#plana_izpilde tbody td.c {
    text-align: center;
  }

  table#plana_izpilde tbody tr.top td {
    font-weight: bold;
    border-top: 2px solid #919191;
  }

  table#plana_izpilde tbody tr.top td.label {
    text-align: center;
    font-weight: normal;
  }

  table#plana_izpilde tbody tr.top td.label a {
    color: blue;
  }

  table#plana_izpilde .b-r {
    border-right: 2px solid #919191;
  }

  table#plana_izpilde tbody tr.month_row td.label {
    /*background-color: #D2F4C4; */
    background-color: #f2f2f2;
  }

  table#plana_izpilde tbody tr.pardeveja_row td.label {
    background-color: #FDE06F;
  }


  table#plana_izpilde th.color1, table#plana_izpilde tr.total_row td.color1 { background-color: #D9EAFE; }
  table#plana_izpilde td.color1 { background-color: #E8F4FF; }

  table#plana_izpilde th.color2, table#plana_izpilde tr.total_row td.color2 { background-color: #FFEEBB; }
  table#plana_izpilde td.color2 { background-color: #FFF8DF; }

  table#plana_izpilde td.color3, table#plana_izpilde th.color3 { /* background-color: #F4E7FB; */ }

  table#plana_izpilde th.color4, table#plana_izpilde tr.total_row td.color4 { background-color: #D5C9E7 ; }
  table#plana_izpilde td.color4 { background-color: #F4E7FB ; }


  table#plana_izpilde tr.month_row td {background-color: #f2f2f2;}

  table#plana_izpilde td.not_achieved {
    color: red;
  }

  table#plana_izpilde td.achieved {
    color: green;
  }

  #izpilde_container {display: inline-block;}
  #izpilde_container table#plana_izpilde,#izpilde_container #min_izpilde_table { float: left; }
  #izpilde_container #min_izpilde_table {margin-left: 40px;}


.ui-autocomplete {
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}

.ui-dialog {
  background: white; background-image: none;
}

.ui-datepicker {
  z-index: 1003 !important;
}

#amati_table td { padding-top: 0; padding-bottom: 10px; padding-left: 0;}
#amati_table select, #amati_table option {padding-left: 0; margin-left: 0;}

#plana_izpilde .positive {color: green;}
#plana_izpilde .average {color: orange;}
#plana_izpilde .negative {color: red;}

.bonuss_tabula input {font-size: 1em;}
.bonuss_tabula input:disabled { border: 1px solid #fff;}

#bonuss_container #plana_izpilde tr.top td, #bonuss_container #plana_izpilde tr.top td input {font-weight:bold;}
#bonuss_container #plana_izpilde tr.month_row td, #bonuss_container #plana_izpilde tr.month_row td input  {font-weight:normal;}

#bonuss_container input.always_disabled {background: transparent; border-color: transparent;}

.nozares_izvele {text-align: left; display: none;}
.nozares_izvele ul li {list-style: none;}

.nozares_multi_izvele {text-align: left;}
.nozares_multi_izvele li {list-style: none;}
.nozares_multi_izvele li.has_av {font-weight: bold;}
.nozares_multi_izvele h2 {font-weight: normal;}
.nozares_multi_izvele h2.has_checked {text-decoration: underline;}
.nozares_multi_izvele h2.has_subcats {font-weight: bold;}

table.invisible_table td {border: none;}

#fullformplace .perms_status_1 {background: green; color: #fff;}
#fullformplace .perms_status_0 {background: white; color: #000;}
#fullformplace .perms_status_2 {background: red; color: #fff;}

.inner_row {display: block; height: 24px;}
.inner_row.odd {margin-top: 4px;}

table.mpk_tabula td {text-align:center;}

table.mpk_tabula .inner {border-collapse:collapse; border: none;}
table.mpk_tabula .inner td {border: none;}
table.mpk_tabula .inner th {border-width: 0 0 1px 0;}
table.mpk_tabula td.account input, table.mpk_tabula td.domain input {text-align: center;}
table.mpk_tabula .new_kw {cursor: pointer; float: right; margin: 10px;}
table.mpk_tabula .del_kw {cursor: pointer;}
/*table.mpk_tabula .inner td.nozare {float: left;}  */


table.mpk_tabula th.rl, table.mpk_tabula td.rl {border-right: 1px solid #787878;}

.rekinanrclass {white-space: nowrap;}

.mtz-monthpicker-month {cursor: pointer !important;}
.mtz-monthpicker-month:hover { background: #eee !important;}
.xdebug-var-dump {text-align: left;}