*{
  font-family:Arial;
  font-size:14px;
}

input, textarea {
  font-family:Arial;
  font-size:14px;
  border:1px solid gray;
  width:100%;
}

textarea {
  padding: 4px;
}

a {
  color: blue;
}

a img {
  border: 0;
}


.input_has_error{
  border: 3px solid red !important;
}

div.loading {
  margin: 10px 0;
}


form h2 {
  margin-top: 15px;
}

.clear {
  clear: both;
}

input[type=checkbox]{ width:20px; }
input[type=radio]{ width:20px; }
input[type=file]{ width:230px; }

input.submit{ width:200px; background-color:#74FD74; border:1px solid gray; height:50px; }

.chbox{ margin:5px; float:left; background-color:#CACACA; cursor:pointer; }
.chbox label{ cursor:pointer; }

.info{ font-size:12px; color:gray; }

.top-quick-search {
  float: left;
  margin: 0;
  width: 300px;
  text-align: left;
  height: 1.4em;
}

.top-quick-search input {
  width: 150px;
}

.main-menu a {
  text-decoration: none;
  padding: 3px 5px;
  margin: auto 2px;
}

.main-menu a:hover {
  background: white;
  color: #444444;
}

.main-menu a.active {
  background: white;
  color: #444444;
}


ul.errors {
  color: red;
  padding-left: 0;
}

ul.errors li {
  margin-left: 2em;
}

table.data {
  margin:10px 0pt 15px;
  font-size: 8pt;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

table.data thead tr th, table.data tfoot tr th {
  background-color: #E9E9E9;
  border: 1px solid #FFF;
  font-size: 8pt;
  padding: 4px;
}

table.data thead tr .header {
  /*background-image: url(bg.gif);*/
  background-repeat: no-repeat;
  background-position: center right;
  cursor: pointer;
}

table.data thead tr.last th {
  border-bottom: 1px solid silver;
  white-space: nowrap;
}


table.data thead tr .headerSortUp {
  background-image: url(asc.gif);
}

table.data thead tr .headerSortDown {
  background-image: url(desc.gif);
}

table.data thead tr .headerSortDown, table.data thead tr .headerSortUp {
  background-color: #DEDEDE;
  padding-right: 20px;
}

table.data tbody td {
  color: #262626;
  background-color: #F2F2F2;
  padding: 6px 4px;
}

table.data tbody tr.odd td {
  background-color: #FFF;
}

table.data tbody tr.first td {
  border-top: 1px solid silver;
}


table.data tbody.main td {
  border-right: 1px solid silver;
  border-bottom: 1px solid silver;
}

table.data tbody.main td.last {
  border-right: none;
}

table.data a {
  text-decoration: none;
}

table.data a:hover {
  text-decoration: underline;
}

div.file_block {
  background-color: #dff8f2;
  width:590px;
  text-align:left;
  padding: 3px 18px 15px 18px;
  margin: 20px 0 15px 0;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
}

  div.file_block span.filesize {
    color: gray;
    font-size: 0.8em;
  }

  div.file_block a.download_link {
    text-decoration: none;
  }

  div.file_block a.download_link:hover {
    text-decoration: underline;
  }

table#atgadinajumu_tabula td {
  padding: 2px 5px;
}

  table#atgadinajumu_tabula span.atg_auto {
    color: gray;
  }

  table#atgadinajumu_tabula tr.active {
    background-color: #EDFBC6;
  }

  table#atgadinajumu_tabula tr.no_term {
    background-color: #FBF8C6;
  }

  table#atgadinajumu_tabula tr.done {
    background-color: #87D97F;
  }

    table#atgadinajumu_tabula tr.done * {
      color: gray ! important;
    }

  table#atgadinajumu_tabula tr.canceled {
    background-color: #D4D4D4;
  }

    table#atgadinajumu_tabula tr.canceled * {
      color: gray ! important;
    }

  table#atgadinajumu_tabula td.status {
    text-align: center;
    line-height: 1.5em;
  }

    table#atgadinajumu_tabula td.status a {
      text-decoration: none;
    }

    table#atgadinajumu_tabula td.status a:hover {
      text-decoration: underline;
    }

    table#atgadinajumu_tabula thead tr th {
      background-color: #E9E9E9;
      font-size: 8pt;
      padding: 4px;
    }

    table#atgadinajumu_tabula thead tr .header {
      /*background-image: url(bg.gif);*/
      background-repeat: no-repeat;
      background-position: center right;
      cursor: pointer;
    }

    table#atgadinajumu_tabula thead tr.last th {
      white-space: nowrap;
    }


    table#atgadinajumu_tabula thead tr .headerSortUp {
      background-image: url(asc.gif);
    }

    table#atgadinajumu_tabula thead tr .headerSortDown {
      background-image: url(desc.gif);
    }

    table#atgadinajumu_tabula thead tr .headerSortDown,
    table#atgadinajumu_tabula thead tr .headerSortUp {
      background-color: #DEDEDE;
      padding-right: 20px;
    }

div.comments_block {
  background-color: #D9FF9F;
  width:590px;
  text-align:left;
  padding: 3px 18px 15px 18px;
  margin: 20px 0 15px 0;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
}


  div.comments_block li {
    margin-bottom: 20px;
    background: white;
    margin-right: 30px;
    padding: 0;
  }

  div.comments_block div.text {
    float: left;
    width:70%;
    margin: 10px 1% 10px 2%;
  }

  div.comments_block div.meta {
    font-size: 0.8em;
    color: #474747;
    text-align: right;
    width: 25%;
    margin: 5px 0 4px 0;
    float: left;
    position: relative;
  }

  div.comments_block div.meta strong {
    font-size: 1em;
  }

  div.comments_block div.meta a.del_link {
    position: absolute;
    top: -5px;
    right: -30px;
  }


  table.comment_form {
    width: 80%;
    margin: 0 0 15px 50px;
  }

table#forums_skatit td {
  padding: 10px;
}

  table#forums_skatit tr.start td {
    background: #DADADA;
  }


form#liguma_check_form {
  background-color: #E3E3E3;
  width:590px;
  text-align:left;
  padding: 15px 18px 15px 18px;
  margin: 20px 0 15px 0;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
}

  form#liguma_check_form input {
    width: 20%;
  }

  form#liguma_check_form input.nosaukums {
    width: 62%;
  }

table#ligums_check_table {
  background: white;
  margin-top: 10px;
  border-collapse: collapse;
  width: 100%;
}

  table#ligums_check_table th,
  table#ligums_check_table td {
    text-align: left;
    border: 1px solid gray;
    padding: 4px;
  }

table#darbinieku_norekini thead tr th {
  background-color: #E9E9E9;
  font-size: 8pt;
  padding: 4px;
}

  table#darbinieku_norekini thead tr .header {
    /*background-image: url(bg.gif);*/
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
  }

  table#darbinieku_norekini thead tr.last th {
    white-space: nowrap;
  }


  table#darbinieku_norekini thead tr .headerSortUp {
    background-image: url(asc.gif);
  }

  table#darbinieku_norekini thead tr .headerSortDown {
    background-image: url(desc.gif);
  }

  table#darbinieku_norekini thead tr .headerSortDown,
  table#darbinieku_norekini thead tr .headerSortUp {
    background-color: #DEDEDE;
    padding-right: 20px;
  }

form.liggenpdfform {
  text-align: center;
}

  form.liggenpdfform .gala_block {
    display: none;
  }

  form.liggenpdfform .gala_block .subm {
    margin-top: 5px;
    width: auto;
  }


  form.liggenpdfform input {
    width: 8em;
  }

  form.liggenpdfform .i {
    margin-bottom: 5px;
  }

div.pdflinks {
  display: none;
}

  div.pdflinks .i {
    margin: 10px 0;
  }

  div.pdflinks .i * {
    vertical-align: middle;
  }

table#rekinu_tabula th {
  white-space: normal;
}

  table#rekinu_tabula input[type="checkbox"] {
    width: auto;
    margin: 0 2px 0 0;
    vertical-align: middle;
  }

/* Statuss colors */

.norek_statuss_2 { background-color: #00FF00; }
.norek_statuss_3 { background-color: #FFFF00; }
.norek_statuss_4 { background-color: #FF0000; color: white; }
.norek_statuss_5 { background-color: #C0C0C0; }
.norek_statuss_6 { background-color: #00FFFF; }

.lig_statuss_2,
.lig_statuss_3,
.lig_statuss_4,
.lig_statuss_5,
.lig_statuss_6,
.lig_statuss_7 {
  color: #262626;
}

.lig_statuss_2 { background-color: #00FF00 }
.lig_statuss_3 { background-color: #00FF00 }
.lig_statuss_4 { background-color: #00FF00 }
.lig_statuss_5 { background-color: #00FF00 }
.lig_statuss_6 { background-color: #C0C0C0 }
.lig_statuss_7 { background-color: #C0C0C0 }

.lig_beigu_statuss_active {
  background: transparent url(edit.png) no-repeat top right;
  color: red;
  padding-right: 20px;
}

.lig_beigu_statuss_active span { font-weight: bold; }

.google_statuss_2 { background-color: #FFFF00; }
.google_statuss_3 { background-color: #00FF00; }

div.beigu_statuss_dialog {
  width: 96%;
}

  div.beigu_statuss_dialog form {
    margin: 0;
  }

  div.beigu_statuss_dialog div.row {
    float: left;
    width: 100%;
    min-height: 6em;
  }

  div.beigu_statuss_dialog div.radio {
    font-weight: bold;
  }

  div.beigu_statuss_dialog div.radio input {
    margin: 0;
  }

  div.beigu_statuss_dialog div.col {
    float: left;
    width: 25%;
  }